.box {
  max-width: fit-content;
  padding: 30px;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  color: black;
  background: #F5F5F5;
  line-height: 1.4;
  margin: 1rem auto 2rem auto;
}
