<template>
  <div>
    <span class="text" style="margin-bottom: 5px;">{{ $site.themeConfig.footer }}</span>
    <span class="text" style="margin-top: 0"><a href="/impressum/">Impressum</a></span>
  </div>
</template>

<style scoped>
  .text {
    font-family: "Montserrat Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    display: block;
    color: #333333;
    justify-content: center;
    font-size: 0.6rem;
    text-align: center;
  }
</style>
