<template>
  <div class="wrap">
    <div style="top: -15px; position: relative; text-align: center; font-size: 1.4rem;">
      Willkomen beim Städtepartnerschaftsverein Kadıköy e.V.
    </div>
    <router-link to="/stadtteile/kadikoey.html" tag="div" class="district-kadikoey">
      <div class="info" style="background-color: rgba(255,255,255,0.6); ">
        <h3 style="margin-top: 15px">Kadıköy, Istanbul</h3>
        <!-- <span style="margin-left: 0!important">
          Unser Partnerbezirk Kadıköy liegt auf dem asiatischen Teil von Istanbul, an den Ufern des Bosporus und Marmarameer gelegen mit Blick auf die historische Halbinsel mit dem Topkapı Palast, der Blauen Moschee und der Haghia Sofia.
        </span> -->
      </div>
    </router-link>
    <router-link to="/stadtteile/friedrichshain-kreuzberg.html" style="" tag="div" class="district-fr-kr">
      <div class="info-right" style="background-color: rgba(255,255,255,0.6);">
        <h3 style="margin-top: 15px">Friedrichshain-Kreuzberg, Berlin</h3>
        <!-- <span style="margin-left: 0!important">
Friedrichshain-Kreuzberg verbindet zwei Innenstadtbezirke, die 40 Jahre durch
  die Berliner Mauer getrennt waren und jeweils dem Ostteil der Stadt (Friedrichshain)
  und dem Westteil der Stadt (Kreuzberg) angehörten.
        </span> -->
      </div>
      <div class="hide" style="width: 100%; height: 100%;">
        <span style="margin-left: 0!important">
Friedrichshain-Kreuzberg verbindet zwei Innenstadtbezirke, die 40 Jahre durch
  die Berliner Mauer getrennt waren und jeweils dem Ostteil der Stadt (Friedrichshain)
  und dem Westteil der Stadt (Kreuzberg) angehörten.
        </span>
      </div>
    </router-link>

    <!-- <router-link
      :to="post.path"
      tag="div"
      v-for="post in journal"
      :key="post.title"
      class="post"
      :style="{ backgroundImage: `url(${post.frontmatter.thumbnail})` }"
    >
      <div class="info" style="background-color: rgba(255,255,255,0.6)">
        <h2>{{ post.frontmatter.title }}</h2>
        <span v-if="post.frontmatter.excerpt" style="margin-left: 0!important">{{ post.frontmatter.excerpt }}</span>
      </div>
    </router-link> -->

    <!-- <div v-for="post in journal" :key="post.title" class="post">
      <router-link tag="h2" :to="post.path" class="title">{{ post.frontmatter.title }}</router-link>
      <p>{{ post.frontmatter.excerpt }}</p>
    </div> -->
  </div>
</template>

<script>
  export default {
    computed: {
      journal() {
        return this.$site.pages
          .filter(x => x.path.startsWith('/stadtteile/') && !x.frontmatter.district_index)
          .sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
      }
    }
  }
</script>

<style scoped>
  .title {
    cursor: pointer;
  }
  div.wrap {
      width: 100%;
      height: 576px;
      position: relative;
      cursor: pointer;
  }

  .district-fr-kr {
    width: 49.9%; 
    height: 90%; 
    right: 0; 
    position: absolute;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background: url(/upload/Header_Fr-Kreuzberg_klein.jpg);
  }
  .district-fr-kr:hover {
    width: 49.9%; 
    height: 90%; 
    right: 0; 
    position: absolute;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background: linear-gradient(
      120deg, rgba(0, 241, 182, 0.5) 0%, rgba(121, 213, 241,0.9) 100%
    ), url(/upload/Header_Fr-Kreuzberg_klein.jpg);
  }

  .district-kadikoey {
    width: 49.9%; 
    height: 90%; 
    left: 0; 
    position: absolute;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background: url(/upload/Header_Kadikoey.jpg);
  }
  .district-kadikoey:hover {
    width: 49.9%; 
    height: 90%; 
    left: 0; 
    position: absolute;
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background: linear-gradient(
      120deg, rgba(0, 241, 182, 0.5) 0%, rgba(121, 213, 241,0.9) 100%
    ), url(/upload/Header_Kadikoey.jpg);
  }

  .hide {
    display: none;
  }
  .hide:hover {
    display: inline!important;
  }

  .post {
    position: absolute;
    width: 45%;
    height: 73vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5vw;
    cursor: pointer;
  }

  .info {
    position: relative;
    left: 0;
    top: 45%;
    padding: 0.5rem 1rem;
    background: rgba(255,255,255, 1);
    max-width: 320px;
  }

  .info-right {
    position: absolute;
    right: 0;
    top: 45%;
    padding: 0.5rem 1rem;
    background: rgba(255,255,255, 1);
    max-width: 320px;
  }

  .info h2, .info-right h2 {
    display: inline-block;
    width: auto;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
  }

  .info span, .info-right span {
    display: inline-block;
    width: auto;
    margin: 0;
    margin-left: 0.5rem;
    font-size: 0.8rem;
  }
</style>
