<template>
  <div class="journal-list">

    <!-- <router-link
      :to="post.path"
      tag="div"
      v-for="post in journal"
      :key="post.title"
      class="post"
      :style="{ backgroundImage: `url(${post.frontmatter.thumbnail})` }"
    >
      <div class="info" style="background-color: rgba(255,255,255,0.6)">
        <h2>{{ post.frontmatter.title }}</h2>
        <span v-if="post.frontmatter.excerpt" style="margin-left: 0!important"></span>
      </div>
    </router-link> -->

    <div v-for="post in journal" :key="post.title" class="post">
      <router-link :to="post.path">
        <div class="--color-primary" style="width: 100%; height: 300px; background-size: cover; margin-bottom: 20px" :style="{ backgroundImage: `url(${post.frontmatter.thumbnail})` }" />
      </router-link>
        <h2 class="title" style="text-decoration:none!important" >{{ post.frontmatter.title }}</h2>
      <p>{{ post.frontmatter.excerpt }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    computed: {
      journal() {
        console.log("vor Sortieren: ", this.$site.pages)
        return this.$site.pages
          .filter(x => x.path.startsWith('/journal/') && !x.frontmatter.journal_index)
          .sort(function(a, b){return b.frontmatter.position-a.frontmatter.position})
          // .sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
      }
    }
  }
</script>

<style scoped>
  .title {
    cursor: pointer;
  }
  .post {
    padding: 2rem 0;
    border-bottom: 1px solid #eee;
  }
  .post:last-of-type {
    border: 0;
  }
  .post h2 {
    margin: 0 0 1rem 0;
  }
  .post h2:hover {
    opacity: 0.6;
  }
  .post p {
    margin: 0;
    color: #333;
  }
</style>
