<template>
  <div class="column" style="max-width: 750px;">
    <iframe id="datawrapper-chart-jAUeL" src="//datawrapper.dwcdn.net/jAUeL/5/" scrolling="no" frameborder="0" allowtransparency="true" style="width: 0; min-width: 100% !important;" height="794"></iframe>
  </div>
</template>

<style lang="stylus" scoped>

</style>

