<template>
  <div class="column" style="max-width: 750px;">
    <iframe id="datawrapper-chart-FelIm" src="//datawrapper.dwcdn.net/FelIm/2/" scrolling="no" frameborder="0" allowtransparency="true" style="width: 0; min-width: 100% !important;" height="633"></iframe>
  </div>
</template>

<style lang="stylus" scoped>

</style>