<template>
  <div>
    <div class="header">
      <img :src="thumbnail" style="position: relative; z-index: -1; margin: auto!important;" width="100%" height="100%" />
    </div>
      <div class="column">
        <h1 style="margin-top: -60px; margin-bottom:40px;">{{ title }}</h1>
      </div>
    <!-- <p class="excerpt" style="margin-top: 0px">
      {{ excerpt }}
    </p> -->
  </div>
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        required: true
      },
      subtitle: {
        type: String,
        required: false
      },
      excerpt: {
        type: String,
        required: false
      },
      thumbnail: {
        type: String,
        required: true
      }
    }
  }
</script>

<style scoped>
  .header {
    padding: 2rem 0;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto 3rem auto;
    margin-top: 0!important;
  }

  .subtitle {
    font-family: "Cormorant Infant Italic", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    margin-top: -50px; 
    color: white; 
    text-align: center
  }

  .excerpt {
    font-family: "Cormorant Garamond Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 36px;
    line-height: 43px;
    font-weight: 700;
    max-width: 990px !important;
    color: black;
    margin-bottom: 50px;
  }

  .column {
    flex: 0 0 33.33%;
  }

  .label {
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  .value {
    font-weight: 400;
  }

  .categories:after {
    content: ', ';
  }

  .categories:last-of-type:after {
    content: '';
  }
</style>
