<template>
  <!-- <div class="header"> -->
    <!-- <img :src="thumbnail" style="position: relative; z-index: -1; margin: auto!important;" width="100%" height="100%" />
    <div class="column">
      <h1 style="margin-top: -150px; color: white; text-align: center">{{ title }}</h1>
      <h2 class="subtitle">{{ subtitle }}</h2>
    </div> -->

    <!-- <div class="column">
      <Label class="label">Projekt</Label>
      <span class="value">{{ title }}</span>
    </div>

    <div class="column">
      <Label class="label">Jahr</Label>
      <span class="value">{{ year }}</span>
    </div>

    <div class="column">
      <Label class="label">Kategorien</Label>
      <span class="value categories" v-for="category in categories" v-text="category" />
    </div> -->

  <!-- </div> -->
</template>

<script>
  export default {
    props: {
      title: {
        type: String,
        required: true
      },
      year: {
        type: String,
        required: true
      },
      categories: {
        type: Array,
        required: true
      },
      thumbnail: {
        type: String,
        required: false
      }
    }
  }
</script>

<style scoped>

  .header {
    display: flex;
    padding: 0rem 0;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 3rem auto;
  }

  .column {
    flex: 0 0 33.33%;
  }

  .label {
    font-family: "Montserrat Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 0.7rem!important;
    font-weight: 100;
  }

  .value {
    font-weight: 400;
  }

  .categories:after {
    content: ', ';
  }

  .categories:last-of-type:after {
    content: '';
  }
</style>
